form {
  margin-block: 0;
  padding: 0;
  width: 100vw;
  margin-top: 10vh;
  display: flex;

  .topic-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5vh;
    h2 {
      font-size: 8vh;
      padding-left: 11vw;
    }
    .header {
      display: flex;
      flex-direction: row;
      gap: 5vw;
      align-items: flex-start;
      label {
        font-size: 5vh;
        text-align: right;
        width: 20vw;
      }
      input {
        width: 30vw;
        height: 5vh;
        font-size: 4vh;
        margin-top: 2vh;
        padding: 1vh;
      }

      textarea {
        width: 30vw;
        height: 60px;
        font-size: 4vh;
        padding: 1vh;
      }
    }
    .questionNum {
      display: flex;
      align-items: center;
      justify-content: center;
      label {
        text-align: left;
        white-space: nowrap;
      }
      input {
        width: 10vw;
        align-self: right;
      }
    }
  }
}
