@mixin alternate($alter:false) {
  @if $alter{
    background-color:black;
    color:white;
  }
  @else{
    background-color:white;
    color:black;
  }
}


.btnGroup{
    display:flex;
    flex-direction:row;
    justify-items:center;
    gap:2rem;
}
  button{
    width:15vw;
    border: rgb(53, 53, 53) 0.2rem solid;
    border-radius:1rem;
  }
  .submit{
@include alternate(true);
  }
  .type{
@include alternate();
  }
  .submit:hover{
@include alternate();
  }
  .type:hover{
@include alternate(true);
  }