.both {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  h1 {
    margin-bottom: 10vh;
  }
  .create form {
    height: 50vh;
     padding: 8vh 0;
  }

  .login form {
    height: 50vh;
     padding: 8vh 0;
  }
  form {
    border: rgb(53, 53, 53) 0.1rem solid;
    width: 40vw;
    margin-block: 0;
    justify-content: space-between;
    gap:1rem;
    
  }
  input {
    font-size: 4vh;
    padding: 2vh 2vh;
    width:30vw;
    height:5vh;
  }

}
